<!DOCTYPE html>
<html lang="ja">
  <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <title>みん翻検索 by SAT</title>
<link href="/static/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	        <link rel="stylesheet" href="/static/minhon.css">
<style>
  .ent_line,.opWcres{cursor:pointer}
  
.ent_line:hover,.opWcres:hover{color:blue}
</style>
		<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		</head>
  <body>
<header class="navbar navbar-light bg-success">
 <a class="navbar-brand text-white" href="/">
 <img src="https://dzkimgs.l.u-tokyo.ac.jp/SATi/satlogo80.png" height="30" width="27" class="d-inline-block align-top" alt="Logo">　みんなで翻刻 サーチ</a> 
<div class="navbar-nav"><a class="nav-item text-white" href="http://21dzk.l.u-tokyo.ac.jp/SAT/">by SAT</a></div>
 
</header>
<div class="container-fluid">
  <div class="row">
   <div class="col-3">
    <form action = "/search/" method = "GET" id="search_form">
<div class="form-row">
<div class="form-group col-9">
      <div>キーワード: <input class="form-control" type="text" name="url_key" id="url_key" width="150" minlength="1" maxlength="1000"　required  placeholder="ここにキーワードを！" value="{{sch_key}}"></div>
</div>
</div>
<div class="form-row">
<div class="form-group col-9">
<select name="url_var" class="form-control">
<option value="1">異体字一括検索
<option value="0">そのまま検索
</select>
</div>
</div>
<div class="form-row">
<div class="form-group col-9">
      検索するプロジェクト: 
</div></div>
<div class="form-row">
<div class="form-group col-9">
<select name="url_proj" class="form-control" value="すべて"/>
<option value="すべて">すべて
 {% for proj in proj_list %}
 {% set loop_id = loop.index %} 
  <option value="{{proj}}">{{proj}}
       {% endfor %}
</select>
</div>
</div>
<div class="form-row">
<div class="form-group col-9">
      検索するコレクション: 
</div></div>
<div class="form-row">
<div class="form-group col-9">
<select name="url_col" class="form-control" value="すべて"/>
<option value="すべて">すべて

 {% for col in col_list %}
 {% set loop_id = loop.index %} 
  <option value="{{col}}">{{col}}
       {% endfor %}
</select>
</div>
</div>
<div class="form-row">
<div class="form-group col-9">
      <input class="btn btn-success" type="submit" value="検索">
      </div><!--<div class="form-group">-->
</div><!--<div class="form-row">-->
      </form>

<div>
  <div>{{entry_menu}}
  </div>   
<ul>
  {% for proj in entry_list %}
<div class="ent_obj">
<li><div class="ent_line">
<i class="far fa-folder"></i>
    <i style="display:none" class="fas fa-folder-open"></i>
{{proj.proj}}
    
</div>
<div class="ent_links">
<ul>  
  {% for entry in proj.projdata %}
<li>  <a href="/search/?{{entry.uval}}">{{entry.nm}}</a>
   {% endfor %}
</ul>
</div>
</div><!--<div class="ent_obj">-->
 {% endfor %}
</ul>
</div>

    </div><!--<div class="col-3">-->

    <div class="col-9">
      <div class="form-inline"><div id="sch_key" class="alert alert-warning">

<span id="sch_entid" data-entid="{{pr_ent_id}}" data-entname="{{pr_ent_name}}" >{{pr_ent_name2}}</span>
	  <span class="entry_title">検索語</span>：{{sch_key}} 
    <span class="entry_title">ヒット頁数</span>：{{hit_key}} {{debug_url}} &nbsp;&nbsp;&nbsp;この単語の<select type="select" class="form-control" name="url_pos"><option value="1">前<option value="2">後</select><input type="text" id="url_wnum" name="url_wnum" size="3" class="form-control" value="2">文字を<button id="get_word" class="btn btn-success">グループ化</button></div></div>

<div id="wordcount">

</div>

{{ pagination.links }}

     <ul id="nav" class="list-group">
           {% for item in navigation %}
        <li class="list-group-item"><span class="entry_title">{{docs[item][0]}} p. {{docs[item][4]}}</span><img height="100" src="{{docs[item][2]}}"/>
<a href="https://honkoku.org/app/#/transcription/{{docs[item][3]}}/{{docs[item][4]}}" target="_blank">「みんなで翻刻」の該当頁</a>
<ul class="list-group">
             {% for snippet in navigation[item].hitcontent %}
          <li class="list-group-item">
{{snippet|safe}} </li>
	      {% endfor %}
    </ul>    </li>             
	   {% endfor %}
       </ul>
{{ pagination.links }}
</div><!--<div class="col">-->
</div><!--<div class="row">-->
</div><!--<div class="container">-->

<script>
$(function(){
$("#get_word").click(function(){
  var url_key = $("#url_key").val();
  var url_var = $('select[name="url_var"]').val();
  var url_proj = $('select[name="url_proj"]').val();
  var url_col = $('select[name="url_col"]').val();
  var url_wnum = $('input[name="url_wnum"]').val();
  var url_pos = $('select[name="url_pos"]').val();
  if($("#sch_entid").text() != undefined){
    var url_entid = $("#sch_entid").attr('data-entid');
    var url_entname = $("#sch_entid").attr('data-entname');
  }
  var gUrl = '/get_words/?url_key='+url_key;
  gUrl += '&url_var='+url_var+'&url_proj='+url_proj;
  gUrl += '&url_col='+url_col+'&url_entid='+url_entid;
  gUrl += '&url_wnum='+url_wnum+'&url_pos='+url_pos;
  $("#wordcount").text('');
  $("#wordcount").text('Counting...');
  $.ajax({
   url:gUrl,
   dataType:"json"
  }).done(function(data){
    $("#wordcount").text('');
    $("#wordcount").html('<div class="opWcres">全部表示</div>');
    for(n=0;n<data.length;n++){
      if(data[n].num < 2){
       var html = '<div class="wcres_1" style="display:none">'+data[n].word+': '+data[n].num+'件</div>';	      }
      else{
       var html = '<div class="wcres_2">'+data[n].word+': '+data[n].num+'件</div>';
      }
      $("#wordcount").append(html);
    }
  });
});
$("body").on("click",".opWcres",function(){
  if($(".opWcres").text() != '一部隠す'){   
    $(".wcres_1").show();
    $(".opWcres").text('一部隠す');		       
  }		       
  else{
    $(".wcres_1").hide();
    $(".opWcres").text('全部表示');		       		       
  }		       
});
$("select[name='url_proj']").change(function(){
 console.log($(this).val());
 var uname = encodeURIComponent($(this).val());
 var qUrl = '/get_list/?type=proj&name='+uname;
 $.ajax({
  url:qUrl,
  dataType:"json"
 }).done(function(data){
  $('select[name="url_col"]').find("option").remove();
    $("<option>", {value: 'すべて' ,text: 'すべて'}).appendTo('select[name="url_col"]');
  $.each(data, function(nm,vl){
    $("<option>", {value: nm ,text: nm}).appendTo('select[name="url_col"]');
    console.log(nm);   
  });
 });
 console.log('aa');
 console.log(qUrl);
});
$("#search_form").on("submit", function(e){
 if ($("#url_key").val() == ''){
  alert('検索キーワードを入力してください');
  return false;
 } 
 else{
  
 }
});
$(".ent_line").click(function(){
 if($(this).find(".fas").css('display') == 'none'){
 $(this).parents(".ent_obj").find(".ent_links").show();
 $(this).find(".far").hide();
 $(this).find(".fas").show();
 }
 else{
 $(this).parents(".ent_obj").find(".ent_links").hide();
 $(this).find(".far").show();
 $(this).find(".fas").hide();
 }
});
$('select[name="url_var"]').val({{pr_sch_var}});
$('select[name="url_proj"]').val('{{pr_sch_proj}}');
$('select[name="url_col"]').val('{{pr_sch_col}}');
$('.ent_links').hide();
});
</script>

     </body>
  </html>
